<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_man')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_man" data-rule="required" class="form-control" name="row[pay_man]" type="text" value="{$row.pay_man|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text" value="{$row.phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hx_man')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hx_man" data-rule="required" class="form-control" name="row[hx_man]" type="text" value="{$row.hx_man|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bag_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bag_id" data-rule="required" data-source="bag/index" class="form-control selectpage" name="row[bag_id]" type="text" value="{$row.bag_id|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
